@model IEnumerable<EOCM.Models.ClusterMapViewModel>

@{
    ViewBag.Title = "Index";
}
<div style="font-family:Arial">

    <table id="clusterTable" class="display compact" cellspacing="0" width="250">
        <thead>
            <tr>
                <td>
                    مسلسل
                </td>
                <td>
                    اسم التجمع
                </td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Cluster_Num)
                    </td>
                    <td>

                        @Html.ActionLink(item.Cluster_Name, "ClusterDetail", new { id = item.Cluster_ID }, new { target = "_blank" })

                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>

<script>

    $(document).ready(function () {
        $('#clusterTable').DataTable({
            "sdom": '<"row"lf><t><"center"p>',
            "columns": [{ "width": "20%" }, null],
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "بحث",
                "sEmptyTable": "لايوجد تجمعات",
                "sInfoEmpty": "",
                "sZeroRecords": "لايوجد تجمعات",
                //"sInfo": "_TOTAL_ من _END_ الى _START_",
                "sInfo": "",
                "sInfoFiltered": "",
                "sLengthMenu": ' <select>' +
                '<option value="10">10</option>' +
                '<option value="15">15</option>' +
                '<option value="20">20</option>' +
                '<option value="25">25</option>' +
                //'<option value="50">50</option>' +
                //'<option value="-1">الكل</option>' +
                '</select>عرض',
                "oPaginate": {
                    "sFirst": "<<",
                    "sPrevious": "<",
                    "sNext": ">",
                    "sLast": ">>"
                }
            }
        });



        // document.getElementById("btnsave").addEventListener("UpdateDetailView(item.Cluster_ID)", false);







    })
</script>
