<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="div1" style="background-color:White; border-style:solid;border-width:medium; border-color:blue; min-height:100px;width:150px;">
        <div id="infoboxTitle1" style="position:center; text-align:center; font-size:large"> govtpin[i].Title</div>
        <hr />
        <div id="infoboxDescription1" style="position:center;  text-align:center" > govtpin[i].Description </div>
    </div>

</body>
</html>
