@model IEnumerable<EOCM.Models.ClusterShortData>

@{
    ViewBag.Title = "التجمعات الطبيعية في محافظة " + Model.First().Govt_Name;
}

<div style="text-align: center; direction: rtl; color:white">
    <h2> @ViewBag.Title  </h2>
 </div>

<hr />
    <div id="GovtClusters" >

        <table id="GovtClustersTable" align="center">
           <colgroup>
                <col class="c1" style="width: 50%;">
                <col class="c2" style="width: 50%;">
               

            </colgroup>

           
            <tr>
                <th>اسم التجمع</th>
                <th>المنتجات</th>
                

            </tr>

                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Cluster_Name, "ClusterDetail", new { id = item.Cluster_ID }, new { target = "_blank" })
                                </td>
                                <td>@Html.DisplayFor(modelitem => item.Products)</td>
                            </tr>
                                }

</table>

       
    </div>
  
